<footer class="pt-4 my-md-5 pt-md-5 border-top">
	<div class="row">
		<div class="col-6">
			<small class="d-block mb-1">from Sans Changer</small>
			<small class="d-block mb-1 text-muted">WPI CS3733 B21</small>
			<small class="d-block mb-3 text-muted">Provided as-is.</small>
		</div>
		<div class="col-6 text-right d-none" id="renderLabel">
			<small class="d-block">Rendered in <span class="renderTime">0.3</span>s.</small>
		</div>
	</div>
</footer>
