<!doctype html>
<html lang="en">
	<head>
		<%- include('partials/header') %>
	</head>
<body id="admin">  
	<%- include('components/navbar', { noItems: true}) %>
	<div class="container">
		<h3 class="mb-3">Admin: All Projects</h3>
		<div class="row row-cols-1 row-cols-md-3" id="adminDeck">
			<div id="adminLoader" class="mx-3">
				<p class="lead">Loading ...</p>
			</div>
			<div class="col mb-4 Template animate__animated animate__fadeIn" id="adminCardTemplate">
				<div class="card h-100">
					<a class="d-block card-header" href="#" id="adminProjTitle" target="_blank">
						My Project Name
					</a>					
					<div class="card-body">
						<ul class="list-group">
							<li class="list-group-item" id="adminIncomplete">10 Incomplete Tasks</li>
							<li class="list-group-item" id="adminComplete">10 Complete Tasks</li>
							<li class="list-group-item" id="adminUserCount">5 Users</li>
							<li class="list-group-item" id="adminPercentComplete">50% completed</li>
						</ul>
					</div>
					<div class="card-footer">
						<button class="btn btn-warning w-100 mb-2" id="adminArchiveBtn">Archive Project</button>
						<button class="btn btn-danger w-100" id="adminDeleteBtn">Delete Project</button>
					</div>
				</div>
			</div>
		</div>
		<%- include('components/footer') %>
	</div>	  
</body>
</html>
