<!doctype html>
<html lang="en">
	<head>
		<%- include('partials/header') %>
	</head>
<body id="landing">  
	<%- include('components/navbar') %>
	<div class="container">
		<h3 class="mb-3">My Project Name: Tasks</h3>
		<div class="task-table">
			<div class="task-entry task-done">
				<div class="task-completion"><span data-feather="check-square"></span></div>
				<div class="task-number">1.</div>
				<div class="task-label">Complete some task described here in grave detail.</div>
				<div class="task-assignments">
					<div class="task-assignment-box">
						<button class="btn task-assignment" title="John Smith">JS</button>
						<button class="btn task-assignment" title="Sally Jones">SJ</button>
						<button class="btn task-assignment task-assign" title="Add">+</button>
					</div>
				</div>
				<div class="task-edit">
					<button class="btn task-edit-btn">Edit</button>
				</div>
			</div>
			<div class="task-entry task-withSubs">
				<div class="task-completion"><span data-feather="square"></span></div>
				<div class="task-number">2.</div>
				<div class="task-label">This task has multiple parts -- complete them all carefully!</div>
				<div class="task-assignments">
					<div class="task-assignment-box">
						<button class="btn task-assignment" title="John Smith">JS</button>
						<button class="btn task-assignment task-assign" title="Add">+</button>
					</div>
				</div>
				<div class="task-edit">
					<button class="btn task-edit-btn">Edit</button>
				</div>
				<div class="task-subtasks">
					<div class="task-entry task-done">
						<div class="task-completion"><span data-feather="check-square"></span></div>
						<div class="task-number">2.1.</div>
						<div class="task-label">This is the first subtask.</div>
						<div class="task-assignments">
							<div class="task-assignment-box">
								<button class="btn task-assignment task-assign" title="Add">+</button>
							</div>
						</div>
						<div class="task-edit">
							<button class="btn task-edit-btn">Edit</button>
						</div>
					</div>		
					<div class="task-entry">
						<div class="task-completion"><span data-feather="square"></span></div>
						<div class="task-number">2.2.</div>
						<div class="task-label">This is the second subtask.</div>
						<div class="task-assignments">
							<div class="task-assignment-box">
								<button class="btn task-assignment task-assign" title="Add">+</button>
							</div>
						</div>
						<div class="task-edit">
							<button class="btn task-edit-btn">Edit</button>
						</div>
					</div>		
				</div>
			</div>
			<div class="task-entry">
				<div class="task-completion"><span data-feather="square"></span></div>
				<div class="task-number">3.</div>
				<div class="task-label">You're all done!</div>
				<div class="task-assignments">
					<div class="task-assignment-box">
						<button class="btn task-assignment task-assign" title="Add">+</button>
					</div>
				</div>
				<div class="task-edit">
					<button class="btn task-edit-btn">Edit</button>
				</div>
			</div>
			<div class="task-entry task-withSubs">
				<div class="task-completion"><span data-feather="square"></span></div>
				<div class="task-number">4.</div>
				<div class="task-label">Just kidding! This one is extra tricky.</div>
				<div class="task-assignments">
					<div class="task-assignment-box">
						<button class="btn task-assignment task-assign" title="Add">+</button>
					</div>
				</div>
				<div class="task-edit">
					<button class="btn task-edit-btn">Edit</button>
				</div>
				<div class="task-subtasks">
					<div class="task-entry task-withSubs task-done">
						<div class="task-completion"><span data-feather="check-square"></span></div>
						<div class="task-number">4.1.</div>
						<div class="task-label">This is the first subtask.</div>
						<div class="task-assignments">
							<div class="task-assignment-box">
								<button class="btn task-assignment task-assign" title="Add">+</button>
							</div>
						</div>
						<div class="task-edit">
							<button class="btn task-edit-btn">Edit</button>
						</div>
						<div class="task-subtasks">
							<div class="task-entry task-done">
								<div class="task-completion"><span data-feather="check-square"></span></div>
								<div class="task-number">4.1.1.</div>
								<div class="task-label">We must go deeper!.</div>
								<div class="task-assignments">
									<div class="task-assignment-box">
										<button class="btn task-assignment task-assign" title="Add">+</button>
									</div>
								</div>
								<div class="task-edit">
									<button class="btn task-edit-btn">Edit</button>
								</div>
							</div>
							<div class="task-entry">
								<div class="task-completion"><span data-feather="square"></span></div>
								<div class="task-number">4.1.2.</div>
								<div class="task-label">Great depth is achieved!</div>
								<div class="task-assignments">
									<div class="task-assignment-box">
										<button class="btn task-assignment task-assign" title="Add">+</button>
									</div>
								</div>
								<div class="task-edit">
									<button class="btn task-edit-btn">Edit</button>
								</div>
							</div>
							<div class="task-entry task-withSubs task-done">
								<div class="task-completion"><span data-feather="check-square"></span></div>
								<div class="task-number">4.1.3.</div>
								<div class="task-label">Just to prove a point,.</div>
								<div class="task-assignments">
									<div class="task-assignment-box">
										<button class="btn task-assignment task-assign" title="Add">+</button>
									</div>
								</div>
								<div class="task-edit">
									<button class="btn task-edit-btn">Edit</button>
								</div>
							<div class="task-subtasks">
									<div class="task-entry task-done">
										<div class="task-completion"><span data-feather="check-square"></span></div>
										<div class="task-number">4.1.3.1.</div>
										<div class="task-label">Further we will descend!</div>
										<div class="task-assignments">
											<div class="task-assignment-box">
												<button class="btn task-assignment task-assign" title="Add">+</button>
											</div>
										</div>
										<div class="task-edit">
											<button class="btn task-edit-btn">Edit</button>
										</div>
									</div>
									<div class="task-entry">
										<div class="task-completion"><span data-feather="square"></span></div>
										<div class="task-number">4.1.3.2.</div>
										<div class="task-label">Great depth is achieved!</div>
										<div class="task-assignments">
											<div class="task-assignment-box">
												<button class="btn task-assignment task-assign" title="Add">+</button>
											</div>
										</div>
										<div class="task-edit">
											<button class="btn task-edit-btn">Edit</button>
										</div>
									</div>				
								</div>				
							</div>								
						</div>				
					</div>		
					<div class="task-entry">
						<div class="task-completion"><span data-feather="square"></span></div>
						<div class="task-number">4.2.</div>
						<div class="task-label">This is the second subtask.</div>
						<div class="task-assignments">Assigned to Sally</div>
					</div>		
				</div>
			</div>
		</div>
		<%- include('components/footer') %>
	</div>	  
</body>
</html>
