<!doctype html>
<html lang="en">
	<head>
		<%- include('partials/header') %>
	</head>
<body id="landing">  
	<%- include('components/navbar') %>
	<div class="container">

		<%- include('components/footer') %>
	</div>	  
</body>
</html>
