<!doctype html>
<html lang="en">
	<head>
		<%- include('partials/header') %>
	</head>
<body id="landing">  
	<%- include('components/navbar') %>
	<div class="container">
		<h3 class="mb-3">My Project Name: Team</h3>
		<div class="row row-cols-1 row-cols-md-3 team-deck">
			<div class="col mb-4">
				<div class="card h-100">
					<div class="my-3 text-center">
						<h3>John Smith</h3>
						<div class="member-icon"><div class="inner-label">JS</div></div>
					</div>
					<div class="card-body">
						<p class="lead">Assigned Tasks:</p>
						<ul>
							<li><strong>1.1.</strong> Some task assigned</li>
							<li><strong>2.1.</strong> Some task assigned</li>
							<li><strong>3.1.</strong> Some task assigned</li>
						</ul>
					</div>
					<div class="card-footer">
						<button class="btn btn-danger w-100">Remove User</button>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<div class="my-3 text-center">
						<h3>Sally Jones</h3>
						<div class="member-icon"><div class="inner-label">SJ</div></div>
					</div>
					<div class="card-body">
						<p class="lead">Assigned Tasks:</p>
						<ul>
							<li><strong>1.1.</strong> Some task assigned</li>
							<li><strong>2.1.</strong> Some task assigned</li>
							<li><strong>3.1.</strong> Some task assigned</li>
							<li><strong>4.1.</strong> Some task assigned</li>
							<li><strong>5.1.</strong> Some task assigned</li>
						</ul>
					</div>
					<div class="card-footer">
						<button class="btn btn-danger w-100">Remove User</button>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card add-card h-100">
					<div class="my-3 text-center">
						<h3>Add New User</h3>
						<div class="member-icon"></div>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label for="addUserName">Name</label>
							<input type="text" class="form-control" id="addUserName" placeholder="User Name">
						</div>
					</div>
					<div class="card-footer">
						<button class="btn btn-success w-100">Add</button>
					</div>
				</div>
			</div>
		</div>
		<%- include('components/footer') %>
	</div>	  
</body>
</html>
